In [6]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [8]:
premise_file = "../Resources/Book-Ratings.csv"

premise_data_df = pd.read_csv(premise_file)
premise_data_df.head()

,License Serial Number,Premises Name,License Certificate Number,License Received Date,County ID Code
0,1311660,CANA ARRIBA GROCERY NO 2 INC,NaN,2018-06-29T00:00:00,0
1,1310023,JOHANA GROCERY & DELI CORP,NaN,2018-04-27T00:00:00,0
2,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
3,1310024,TKO BEVERAGES LLC,NaN,2018-04-27T00:00:00,1
4,1311663,181 LEXINGTON AVENUE BBQ LLC,NaN,2018-06-29T00:00:00,2

In [11]:
#* Copy only the columns needed into a new DataFrame.
new_premise_data_df = premise_data_df[['License Serial Number', 'Premises Name', 'County ID Code']].copy()
new_premise_data_df.head()

   License Serial Number                 Premises Name  County ID Code
0                1311660  CANA ARRIBA GROCERY NO 2 INC               0
1                1310023    JOHANA GROCERY & DELI CORP               0
2                1310024             TKO BEVERAGES LLC               1
3                1310024             TKO BEVERAGES LLC               1
4                1311663  181 LEXINGTON AVENUE BBQ LLC               2

In [12]:
#  * Rename columns to fit the tables created in the database.
rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)

rename_premise_data_df = pd.DataFrame({'License Serial Number', 'Premises Name', 'County ID Code' })
rename_premise_data_df.columns = ['id', 'premise_name', 'county_id']
rename_premise_data_df

ValueError: Length mismatch: Expected axis has 1 elements, new values have 3 elements

In [10]:
county_file = "../Resources/CountyLicenseCount.csv"
county_data_df = pd.read_csv(county_file)
county_data_df.head()

   ID County Name (Licensee)  County ID Code  License Count
0   0                 ALBANY               5             77
1   1               ALLEGANY              59              4
2   2                  BRONX               0            104
3   3                 BROOME              35             14
4   4            CATTARAUGUS              41              9

### Transform premise DataFrame

In [2]:
# pip install psycopg2 
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/<insert database>"
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Transform county DataFrame

In [3]:
engine.table_names()

['premise', 'county']

### Create database connection

In [ ]:
# Confirm tables

### Load DataFrames into database