In [6]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [28]:
ratings_file = "Resources/Ratings.csv"
ratings_df = pd.read_csv(ratings_file, encoding = "latin1", sep=';')
ratings_df.head()

  User-ID;"ISBN";"Book-Rating"
0      276725;"034545104X";"0"
1      276726;"0155061224";"5"
2      276727;"0446520802";"0"
3      276729;"052165615X";"3"
4      276729;"0521795028";"6"

In [32]:
ratings_df.dtypes

User-ID;"ISBN";"Book-Rating"    object
dtype: object

In [ ]:
#ratings_split_df = pd.DataFrame(ratings_df.str.split(';',2).tolist(),columns = ['User-ID','ISBN','Book_Rating'])

In [18]:
with open(ratings_file) as something:
    print(something)

<_io.TextIOWrapper name='Resources/Ratings.csv' mode='r' encoding='UTF-8'>

In [27]:
books_file = "Resources/Books.csv"
books_df = pd.read_csv(books_file)
books_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

### Transform premise DataFrame

In [35]:
# Create a filtered dataframe from specific columns
books_cols = ["isbn", "title", "authors"]
books_transformed= books_df[ratings_cols].copy()

# Rename the column headers
books_transformed = books_transformed.rename(columns={"isbn": "isbn",
                                                          "title": "title",
                                                          "authors": "authors"})

# Clean the data by dropping duplicates and setting the index
books_transformed.drop_duplicates("isbn", inplace=True)
books_transformed.set_index("isbn", inplace=True)

books_transformed.head()

,title,authors
isbn,,
439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins
439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPré"
316015849,"Twilight (Twilight, #1)",Stephenie Meyer
61120081,To Kill a Mockingbird,Harper Lee
743273567,The Great Gatsby,F. Scott Fitzgerald

### Transform county DataFrame

In [6]:
ratings_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

    county_name  county_id  license_count
id
0        ALBANY          5             77
1      ALLEGANY         59              4
2         BRONX          0            104
3        BROOME         35             14
4   CATTARAUGUS         41              9

### Create database connection

In [7]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
# Confirm tables
engine.table_names()

['customer_name', 'customer_location', 'premise', 'county']

### Load DataFrames into database

In [9]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [10]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)